
                <div class="event">
                  <div class="content">
                    <div class="summary">                      
                        <p><%= link_to message.user.username, root_path(message.user_id) %> says: <%= message.body %></p>
                    </div>
                  </div>
                  <hr>      
                </div>  

