//@import 'semantic-ui';
 @import "bootstrap";

 html, body {
    height: 100%;
    margin: 0;
}

.me-auto-50 {
    margin-right: 50% !important;
}

.me-auto-20 {
    margin-right: 20px !important;
}

.dropdown-account {
    min-width: 2rem;
    margin-top: 0.5rem !important;
}

.chatbox{
    height: 450px
}

#messages{
overflow: auto;
// height: 25em;
}