<footer class="footer mt-auto" id="footer">
    <div class="container">
        <p class="text-body-secondary text-center" style="margin-top:1rem"> Copyright &copy; <%= link_to "DevEkma", "https://devekma.fun", class: "fs-6 text-decoration-none" %></p>
    </div>
</footer>